<a href="https://colab.research.google.com/github/1konlawat/PHASE-0/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

# สร้าง DB ไฟล์ชื่อ test.db
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# สร้างตาราง
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    department TEXT,
    salary REAL
)
""")

# ใส่ข้อมูลทดสอบ
cursor.executemany("""
INSERT INTO employees (name, department, salary)
VALUES (?, ?, ?)
""", [
    ("Alice","IT",30000),
    ("Bob","HR",25000),
    ("Charlie","IT",35000)
])

conn.commit()
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
rows

[(1, 'Alice', 'IT', 30000.0),
 (2, 'Bob', 'HR', 25000.0),
 (3, 'Charlie', 'IT', 35000.0),
 (4, 'Alice', 'IT', 30000.0),
 (5, 'Bob', 'HR', 25000.0),
 (6, 'Charlie', 'IT', 35000.0),
 (7, 'Alice', 'IT', 30000.0),
 (8, 'Bob', 'HR', 25000.0),
 (9, 'Charlie', 'IT', 35000.0),
 (10, 'Alice', 'IT', 30000.0),
 (11, 'Bob', 'HR', 25000.0),
 (12, 'Charlie', 'IT', 35000.0),
 (13, 'Alice', 'IT', 30000.0),
 (14, 'Bob', 'HR', 25000.0),
 (15, 'Charlie', 'IT', 35000.0)]